<%- include("partials/header"); %>
<body>
    <section class="container">
        <form class="row g-3 mt-3 form-search">
            <div class="col-auto">
                <label for="symbol" class="visually-hidden">symbol</label>
                <input type="text" class="form-control" id="symbol" placeholder="symbol">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Search</button>
            </div>
        </form>
    </section>
</body>
<%- include("partials/footer"); %>